body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color:#96b296;
}

.hidden {
  display: none;
}

.navbar {
  background: #9fcecc;
  padding: 10px;
  display: flex;
  gap: 1150px;
}

.navbar button {
  background: #d2ab9b;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.navbar button:hover{
  background-color: rgb(174, 97, 15);
}

#progress {
  margin: 15px 0;
  font-weight: bold;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 9px;
  cursor: pointer;
  border: 2px solid rgb(51, 39, 62);
  border-radius: 10px;
  background-color: rgb(128, 178, 218);
}

button:hover{
  background-color: rgb(56, 105, 149);
}